<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your daily</title>
  </head>
  <body>
    <h1>Daily Editor</h1>
    <form action="/dailies/<%= daily._id %>?_method=PUT" method="POST">
      Title:
      <input type="text" name="title" value="<%= daily.title %>" /> <br />
      Description:
      <input type="text" name="description" value="<%= daily.description %>" />
      <br />
      Completed: <input type="checkbox" name="completed" <% if(daily.completed
      === true) { %> checked <% } %>>
      <input type="submit" value="SUBMIT" />
    </form>
  </body>
</html>
