<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h3><a href="/">Home</a></h3>
    <h1>Daily Editor</h1>
    <div class ="qfc-container">
    <form action="/dailies/<%= daily._id %>?_method=PUT" method="POST">
      <label for="title"> Title: </label> 
      <input type="text" name="title" value="<%= daily.title %>" /> <br>
      <label for="description"> Description: </label>
      <input type="text" name="description" value="<%= daily.description %>" />
      <br />
      Completed: <input type="checkbox" name="completed" <% if(daily.completed
      === true) { %> checked <% } %>>
      <input type="submit" value="SUBMIT" />
      </div>
    </form>
  </body>
</html>
