<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dailies</title>
  </head>
  <body>
    <h1>Welcome to Dailies!</h1>
    <ul>
      <% dailies.forEach(daily => { %>
      <li>
        <a href="/dailies/<%= daily._id %>"><%= daily.title %></a>
      </li>
      <% }) %>
      <a href="/dailies/new">New Daily</a>
    </ul>
  </body>
</html>
