<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h1>Create a New Daily!</h1>
    <div class="qfc-container">
      <form action="/dailies" method="post">
        Title:
        <input type="text" name="title" /> <br />
        Description:
        <input type="text" name="description" />
        <br />
        <input type="submit" value="CREATE" />
      </form>
    </div>
  </body>
</html>
